<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand"><i class="fa fa-ticket fa-lg"></i> Cinema Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToDashboard()" routerLinkActive="active" style="cursor: pointer;">
            Dashboard
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid homepage-container">
  <h2 class="latest-movies-heading mb-5 mt-3">Latest Movies</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let item of movieList" class="col">
      <div class="card h-100 movie-card">
        <div class="card-img-overlay">
          <h5 class="card-title card-details">{{item?.title}}</h5>
          <h5 class="card-title card-details">{{ item?.categoryName }}</h5>
          <p class="card-text card-details">{{item?.paragraph}}</p>
        </div>
        <img *ngIf="item?.imageUrl" [src]="item.imageUrl" alt="Movie Image" class="card-img-top">
      </div>
    </div>
  </div>
</div>
