<div class="details-container">
    <h2 class="mb-5 mt-3">{{movieDetails?.title + ' ' + ' details'}}</h2>
    <div class="row g-4">
      <div class="col">
        <div class="card h-100">
          <ng-container *ngIf="movieDetails.title">
              <table class="table">
                  <thead>
                  <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Title</th>
                      <th scope="col">Category</th>
                      <th scope="col">Paragraph</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>
                          <img [src]="movieDetails.imageUrl" alt="Movie Image" class="movie-image">
                      </td>
                      <td>
                        <p>{{ movieDetails?.title }}</p>
                      </td>
                      <td>
                        <p>{{ categoryDetails?.categoryName }}</p>
                      </td>
                      <td>
                        <p>{{ movieDetails?.paragraph }}</p>
                      </td>
                      
                      
                      
                  </tr>
                  </tbody>
              </table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  