


<div class="container-fluid">
    <div class="header">
        <h1>{{movieDetails?.title + ' ' + ' details'}}</h1>
    </div>
    <div class="movie-details">
        <ng-container *ngIf="movieDetails.title">
            <div>
                <label for="title"><b>Title:</b></label>
                <p>{{movieDetails?.title}}</p>
            </div>
            <div>
                <label for="categoryname"><b>Name of Category:</b></label>
                <p>{{movieDetails?.categoryName}}</p>
            </div>
        </ng-container>
    </div>
</div>