.main-content {
    padding: 20px;
  }
  
  .create-new-button {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #3498db;
    color: #fff;
  }
  
  .text-right {
    text-align: right;
  }
  
  .pointer {
    cursor: pointer;
  }
.delete-modal{
    background-color: #fff;
    border: 1px solid lightgrey;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    box-shadow: 0px 0px 20px 20px lightgrey;
}
.delete-modal-header{
    border-bottom: 1px solid lightgrey;
}
.delete-modal-header-title{
    padding: 10px;
    margin: 0;
}
.delete-modal-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 10px;
}
.delete-modal-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}