<div class="main-content">
    <button [routerLink]="['/movies/create-movie']" type="button" class="create-new-button">Create new</button>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Paragraph</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of movieList">
          <td>
            <img *ngIf="item?.imageUrl" [src]="item.imageUrl" alt="Movie Image" class="movie-image">
          </td>
          <td>{{item?.title}}</td>
          <td>{{ item?.categoryName }}</td>
          <td>{{item?.paragraph}}</td>
          <td>
            <a [routerLink]="'/movies/edit-movie/' + item.id" [queryParams]="{ movieId: item.id}">
              <i class="fa fa-pencil green p-2 pointer"></i>
            </a>
            <a [routerLink]="'/movies/movie-details/' + item.id" [queryParams]="{ movieId: item.id}">
              <i class="fa fa-eye green p-2 pointer"></i>
            </a>
            <i class="fa fa-trash text-danger p-2 pointer" (click)="deleteMovie(item)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  
  <div *ngIf="deleteMovieModal" class="delete-modal">
    <div class="delete-modal-header">
     <h3 class="delete-modal-header-title" >Delete Movie</h3>
    </div>
    <div class="delete-modal-content">
      <h4>  Are you sure you want to proceed with the deletion of <b> {{clickedMovieData.title + ' Title' }}</b>?</h4> 
    </div>
    <div class="delete-modal-footer">
        <button type="button" class="delete-button bg-danger" (click)="deleteMovieFromTable(clickedMovieData.id)">Delete</button>
        <button type="button" class="create-new-button" (click)="closeDeleteMovieModal()">Cancel</button>
   
    </div>
  
  </div>