<div class="container-fluid p-0 d-flex h-100">
    <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-info text-white offcanvas-md offcanvas-start">
        <a routerLink="categories" class="navbar-brand"><i class="fa fa-ticket fa-lg"></i> Cinema Management</a>
        <hr>
        <ul class="mynav nav nav-pills flex-column mb-auto">
            <li class="nav-item mb-1">
                <a routerLinkActive="active" routerLink="/categories/all-categories">
                    <i class="fa fa-list-alt fa-lg"></i>
                    Categories
                </a>
            </li>
            <li class="nav-item mb-1">
                <a routerLinkActive="active" routerLink="/movies/all-movies">
                    <i class="fa fa-film"></i>
                    Movies
                </a>
            </li>
        </ul>
        <ul class="mynav nav nav-pills flex-column mt-auto">
            <li class="nav-item mb-1">
                <a routerLinkActive="active" routerLink="/dashboard">
                    <i class="fa fa-home"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item mb-1">
                <a routerLinkActive="active" routerLink="/">
                    <i class="fa fa-home"></i>
                    Homepage
                </a>
            </li>
        </ul>
    </div>

<router-outlet>
    
</router-outlet>